.jumbotron {
text-align: center;
font-family: "comic sans ms";  
}

#firstQuestion {
  text-align: center;
}

#output { 
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
}

.hiddenQuestion {
  display: none;
}